# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Backup files from editors
*~

# Virtual environments
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
